{% extends "elaboradorapp/base.html" %}
{% load tz %}
{% block title %}Elaborador de Provas{% endblock %}

{% block content %}
<div class="container pt-3">
  <form class="form-group" action="{% url 'elaboradorapp:listar-questoes' %}" method="GET">
    <div class="row justify-content-center pt-5">
      <div class="col-mb-6">
        <div class="card">
          <div class="card">
            <div class="card-header">
              <p class="mb-0 mt-2" style="color: rgb(149, 13, 13); font-size: 20px; font-family: Arial, Helvetica, sans-serif;">Configurações da prova</p>
              <p class="mt-0 mb-2"><strong>Configure como deseja que a prova seja gerada</strong></p>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="head">
                    <p class="mt-0 mb-0"><strong>Prova</strong></p>
                  </div>
                  <div class="col-10">
                    <label for="exampleFormControlSelect1">Disciplina</label>
                    <select class="form-control" id="disciplina" name="disciplina" value="{{ request.get.disciplina }}">
                      {% for disciplina in disciplinas %}
                        <option>{{ disciplina.nome }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col">
                    <!-- quantidade de questões da prova -->
                    <label for="exampleFormControlSelect1">Quantidade de questões</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="quantidade_questoes" value="{{ request.get.quantidade_questoes }}">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option selected="10">10</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-7">
                    <label for="conteudo">Conteúdo</label>
                    <input type="search" list="conteudos" class="form-control" name="conteudo" value="{{ request.get.conteudo }}" id="conteudo" placeholder="Pesquise aqui o conteúdo" required>
                    <datalist id="conteudos">
                    {% for conteudo in conteudos %}
                      <option>{{ conteudo.nome }}</option>
                    {% endfor %}
                    </datalist>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-outline-success form-control mt-4" type="button" data-toggle="collapse" data-target="#segundo_conteudo" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa-solid fa-plus"></i> conteúdo 2
                        </button>
                      </div>
                      <div class="col">
                        <button class="btn btn-outline-success form-control mt-4" type="button" data-toggle="collapse" data-target="#terceiro_conteudo" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa-solid fa-plus"></i> conteúdo 3
                        </button>
                      </div>
                      <div class="col">
                        <button class="btn btn-outline-success form-control mt-4" type="button" data-toggle="collapse" data-target="#observacoes" aria-expanded="false" aria-controls="collapseExample">
                          <i class="fa-solid fa-plus"></i> configurações
                        </button> 
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="collapse" id="segundo_conteudo">
                      <input type="search" list="conteudos" class="form-control mt-3" name="segundo_conteudo" value="{{ request.get.segundo_conteudo }}" id="exampleFormControlSelect1" placeholder="Pesquise o segundo conteúdo">
                      <datalist id="conteudos">
                      {% for conteudo in conteudos %}
                        <option>{{ conteudo.nome }}</option>
                      {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="collapse" id="terceiro_conteudo">
                      <input type="search" list="conteudos" class="form-control mt-3" name="terceiro_conteudo" value="{{ request.get.terceiro_conteudo }}" id="exampleFormControlSelect1" placeholder="Pesquise o terceiro conteúdo">
                      <datalist id="conteudos">
                      {% for conteudo in conteudos %}
                        <option>{{ conteudo.nome }}</option>
                      {% endfor %}
                      </datalist>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <label for="exampleFormControlSelect1">Série</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="serie" value="{{ request.get.serie }}">
                          <option value="Indefinido">Indefinido</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                        </select>
                      </div>
                      <div class="col">
                        <label for="exampleFormControlSelect1">Dificuldade</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="dificuldade" value="{{ request.get.dificuldade }}">
                          <option value="Indefinido">Indefinido</option>
                          <option value="F">Fácil</option>
                          <option value="M">Média</option>
                          <option value="D">Difícil</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="head">
                    <p class="mt-2 mb-1"><strong>Cabeçalho</strong></p>
                  </div>
                  <div class="col-9">
                    <label for="exampleFormControlSelect1">Nome do professor</label>
                    <input type="text" class="form-control" name="nome_professor" value="{{ nome_professor }}" id="exampleFormControlSelect1" placeholder="Informe o nome do professor para o cabeçalho">
                  </div>
                  <div class="col-3">
                    <label for="exampleFormControlSelect1">Data</label>
                    <input type="date" class="form-control" name="data" id="exampleFormControlSelect1" placeholder="Informe a data para o cabeçalho">                  
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <label for="exampleFormControlSelect1">Topo do cabeçalho</label>
                    <input type="text" class="form-control" name="topo" id="topo" placeholder="Informe o primeiro texto que aparece no cabeçalho">
                  </div>
                  <div class="col">
                    <label for="tipo_prova">Tipo prova</label>
                    <select class="form-control" id="tipo_prova" name="tipo_prova" value="{{ request.get.tipo_prova }}">
                      <option value="mensal">Mensal</option>
                      <option value="bimestral">Bimestral</option>
                    </select>
                  </div>
                  <div class="col">
                    <label for="bimestre">Bimestre</label>
                    <select class="form-control" id="bimestre" name="bimestre" value="{{ request.get.bimestre }}">
                      <option>1º Bimestre</option>
                      <option>2º Bimestre</option>
                      <option>3º Bimestre</option>
                      <option>4º Bimestre</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <label for="exampleFormControlSelect1">Turma</label>
                    <select type="text" class="form-control" name="turma" id="exampleFormControlSelect1" placeholder="Informe o nome da turma para o cabeçalho">
                      <option>1º Ano</option>
                      <option>2º Ano</option>
                      <option>3º Ano</option>
                    </select>
                    </div>
                  <div class="col-4">
                    <label for="exampleFormControlSelect1">Logo</label>
                    <select type="search" class="form-control" name="nome_logo" value="{{ request.get.nome_logo }}" id="exampleFormControlSelect1" placeholder="Pesquise o nome do logo">
                    {% for logo in logos %}
                      <option>{{ logo.nome }}</option>
                    {% endfor %}
                    </select>
                  </div>
                  <div class="col-5">
                    <label for="exampleFormControlSelect1">Curso</label>
                    <input type="text" class="form-control" name="curso" value="{{ request.get.curso }}" id="exampleFormControlSelect1" placeholder="Informe o nome do curso para o cabeçalho">
                  </div>
                </div>
                <div class="row">
                  <div class="col collapse" id="observacoes">
                    <div class="row">
                      <div class="col">
                        <div class="head">
                          <p class="mt-2 mb-2"><strong>Selecionar questões</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioTipoProva" id="inlineRadio1" value="2" checked>
                          <label class="form-check-label" for="inlineRadio1">Questões públicas + privadas</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioTipoProva" id="inlineRadio2" value="1">
                          <label class="form-check-label" for="inlineRadio2">Questões privadas</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="radioTipoProva" id="inlineRadio3" value="0">
                          <label class="form-check-label" for="inlineRadio3">Questões públicas</label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="head">
                          <p class="mt-2 mb-1"><strong>Instruções / observações</strong></p>
                        </div>
                        <label for="exampleFormControlSelect1">Observação um</label>
                        <input type="text" class="form-control" name="observacao_1" value="{{ request.get.observacao_1 }}" id="exampleFormControlTextarea1" placeholder="Informe a observação"></input>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="exampleFormControlSelect1">Observação dois</label>
                        <input type="text" class="form-control" name="observacao_2" value="{{ request.get.observacao_2 }}" id="exampleFormControlTextarea1" placeholder="Informe a observação"></input>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label for="exampleFormControlSelect1">Observação três</label>
                        <input type="text" class="form-control" name="observacao_3" value="{{ request.get.observacao_3}}" id="exampleFormControlTextarea1" placeholder="Informe a observacão"></input>
                      </div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
          <div class="card-footer">
            <div class="row mt-2 mb-2">
              <div class="col">
                <button type="submit" class="btn btn-primary form-control mt-2" title="Clique para realizar a pesquisar">Confirmar</button>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </form>
</div>
<script>
  const disciplina = document.getElementById('disciplina');
  const bimestre = document.getElementById('bimestre');
  const tipo_prova = document.getElementById('tipo_prova');

  document.getElementById('topo').value = 'Avaliação ' + tipo_prova.value + ' de ' + disciplina.value + ' - ' + bimestre.value;
  
  disciplina.addEventListener('change', function() {
    document.getElementById('topo').value = 'Avaliação ' + tipo_prova.value + ' de ' + disciplina.value + ' - ' + bimestre.value;
  });

  bimestre.addEventListener('change', function() {
    document.getElementById('topo').value = 'Avaliação ' + tipo_prova.value + ' de ' + disciplina.value + ' - ' + bimestre.value;
  });

  tipo_prova.addEventListener('change', function() {
    document.getElementById('topo').value = 'Avaliação ' + tipo_prova.value + ' de ' + disciplina.value + ' - ' + bimestre.value;
  });
  
</script>
{% endblock content %}