{% extends "elaboradorapp/base.html" %}

{% block title %}Avaliação{% endblock %}

{% block content %}
<br>
<br>
    <div class="container mt-5">
    {% for questao in questoes %}
        <h3 class="text-center">Avaliação de {{ questao.disciplina }}</h3>
        <p><strong>{{ questao.enunciado }}</strong></p><br>
        <p>a) {{ questao.alternativa_a }}</p>
        <p>b) {{ questao.alternativa_b }}</p>
        <p>c) {{ questao.alternativa_c }}</p>
        <p>d) {{ questao.alternativa_d }}</p>
        <p>e) {{ questao.alternativa_e }}</p><br>
        <p><strong>Gabarito da questão:</strong></p>
        <p><strong>Opção {{ questao.gabarito }}</strong></p>
        <hr>
        <br>
        <br>
    </div>
    {% endfor %}
{% endblock content %}





