{% extends "elaboradorapp/base.html" %}
{% block title %}Sobre{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-top align-items-top vh-100 mt-5">
            <div class="col-mb-6 mt-5">
                <br><br>
                <h3 class="text-center">Sobre o Elaborador de Provas</h3>
                <div class="accordion mt-5" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Como surgiu?
                            </button>
                        </h5>
                        </div>
                
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                              No ambiente educacional, os alunos de TI foram desafiados a construir um website para suprir a demanda de simulados para exercitar o conhecimento antes dos vestibulares e concursos. Ao analisar a necessidade, foi constituída uma estratégia, definindo as funcionalidades precisas para ter êxito no projeto e na discplina vigente.
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Perfil do site
                            </button>
                        </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Propagando disponibilidade, dualidade, praticidade, resiliência, intuitividade e segurança. Exclusivamente, é voltado para alunos, concurseiros e, principalmente, para educadores(física, química, biologia).
                        </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Serviços
                            </button>
                        </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                              Encontra-se um site capaz de gerar listas de exercícios(física, química e biologia), contendo funcionalidades que permitem agregar os dados disponíveis. É válido salientar a originalidade do conteúdo proposto e a facilidade de navegar na estrutura por meio da sua interface compacta e intuitiva. Venha compor a nossa comunidade!
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}







