{% extends "elaboradorapp/base.html" %}
{% block title %}Sobre{% endblock %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tiny.cloud/1/wb9e2etxe0bn6dlvclxc6guh3h1v78jurhjehf0lsb4w21xo/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
</head>

<body>
    <br><br><br><br>
    <textarea>
    Welcome to TinyMCE!
  </textarea>
    <script>
        tinymce.init({
            selector: 'textarea',
            forced_root_block: false,
            force_br_newlines: true,
            force_p_newlines: false,
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            // colocar botão de imprimir
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
        });
    </script>
</body>

</html>
{% endblock content %}







