{% extends "elaboradorapp/toolbar.html" %}
{% block title %}{{ prova.nome_prova }}{% endblock %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
    <link rel="stylesheet" href="{% static 'css/toolbar.css' %}">
{% endblock styles %}

{% block content %}
<div class="avaliacao mt-5">
    {{ prova.html_prova|safe }}
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/toolbarFormatButtons.js' %}"></script>
<script src="{% static 'js/toolbarInputSize.js' %}"></script>
<script src="{% static 'js/save.js' %}"></script>
<script src="{% static 'js/moments.js' %}"></script>
<script src="{% static 'js/dragImg.js' %}"></script>
{% endblock scripts %}