{% extends "elaboradorapp/base.html" %}
{% load static %}
{% block title %}Avaliação {{ tipo_prova }} de {{ nome_disciplina }} - {{ turma }} - {{ curso }} - {{ data }}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="{% static 'css/questions.css' %}">
</head>
<body>
    <div class="central mt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-10 mt-5 prova">
                    {% if questoes %}
                    <table class="tg mt-0">
                        <thead>
                            <tr>
                                <td class="tg-0lax" rowspan="4" style="width: 80px;"><img id="logo" src="{{ logo }}"
                                        alt="" width="80px"></td>
                                <td class="tg-baqh" colspan="3">Avaliação {{ tipo_prova }} de {{ nome_disciplina }} - {{ bimestre }} </td>
                            </tr>
                            <tr>
                                <td class="tg-0lax" id="curso" style="width: 350px;">Curso: {{ curso }}</td>
                                <td class="tg-0lax" id="turma" style="width: 200px;">Turma: {{ turma }}</td>
                                <td class="tg-0lax" id="nota" rowspan="3"
                                    style="width: 150px; text-align: start !important;">
                                    <p id="nota">
                                        NOTA
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">Professor: {{ nome_professor }}</td>
                                <td class="tg-0lax">Data: {{ data }}</td>
                            </tr>
                            <tr>
                                <td class="tg-0lax">Nome:</td>
                                <td class="tg-0lax">Nº:</td>
                            </tr>
                        </thead>
                    </table>
                    <!-- lista ul exem -->

                    {% if observacao1 %}
                    <p class="mt-2 mb-0" style="font-size: 11px; text-align: justify;">Observações:</p>
                    <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify; margin-left: 20px;">
                        <i class="fa-solid fa-angles-right" style="margin-right: 5px;"></i><i>{{ observacao1 }}</i>
                    </p>

                    {% if observacao2 %}
                    <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify; margin-left: 20px;">
                        <i class="fa-solid fa-angles-right" style="margin-right: 5px;"></i><i>{{ observacao2 }}</i>
                    </p>
                    {% if observacao3 %}
                    <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify; margin-left: 20px;">
                        <i class="fa-solid fa-angles-right" style="margin-right: 5px;"></i><i>{{ observacao3 }}</i>
                    </p>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                    <hr class="mt-2 mb-3">
                    {% for questao in questoes %}
                    <p class="mb-2 text-justify" style="font-size: 11px; text-align: justify;"><strong>{{ forloop.counter }}. </strong>{{ questao.enunciado }}</p>
                    {% if questao.imagem %}
                    <img src="{{ questao.imagem.url }}" id="imagem-enunciado-{{ forloop.counter }}"
                        style="max-height: 250px; max-width: 100%;" class="mb-2" alt="Imagem responsiva">
                    {% endif %}
                    {% if questao.comando %}
                    <p class="mb-2 text-justify" style="font-size: 11px; text-align: justify;">{{ questao.comando }}</p>
                    {% endif %}
                    <div class="alternativas">
                        <div class="row mb-3">
                            {% if questao.imagem_a %}
                            <div class="col">
                                <p class="mb-0 mt-2 text-justify">
                                    a) <img id="imagem-alternativa-{{ forloop.counter }}" style="max-height: 150px;"
                                        src="{{ questao.imagem_a.url }}" alt="Imagem responsiva">
                                </p>
                                <p class="mb-0 mt-2 text-justify">
                                    b) <img id="imagem-alternativa-{{ forloop.counter }}" style="max-height: 150px;"
                                        src="{{ questao.imagem_b.url }}" alt="Imagem responsiva">
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0 mt-2 text-justify">
                                    c) <img id="imagem-alternativa-{{ forloop.counter }}" style="max-height: 150px;"
                                        src="{{ questao.imagem_c.url }}" alt="Imagem responsiva">
                                </p>
                                <p class="mb-0 mt-2 text-justify">
                                    d) <img id="imagem-alternativa-{{ forloop.counter }}" style="max-height: 150px;"
                                        src="{{ questao.imagem_d.url }}" alt="Imagem responsiva">
                                </p>
                            </div>
                            <div class="col">
                                <p class="mb-0 mt-2 text-justify">
                                    e) <img id="imagem-alternativa-{{ forloop.counter }}" style="max-height: 150px;"
                                        src="{{ questao.imagem_e.url }}" alt="Imagem responsiva">
                                </p>
                            </div>
                            {% else %}
                            {% if questao.alternativa_a %}
                            <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify;">a) {{ questao.alternativa_a }}</p>
                            <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify;">b) {{ questao.alternativa_b }}</p>
                            <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify;">c) {{ questao.alternativa_c }}</p>
                            <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify;">d) {{ questao.alternativa_d }}</p>
                            <p class="mb-0 text-justify" style="font-size: 11px; text-align: justify;">e) {{ questao.alternativa_e }}</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <p style="text-align: right;" class="mt-5"><strong>Boa Avaliação!</strong></p>

                    <div class="break">
                        <hr>
                        <div class="table-responsive mt-3">
                            <table class="table">
                                <thead class="text-center">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Questão</th>
                                        <th scope="col">Gabarito</th>
                                        <th scope="col">Conteúdo</th>
                                        <th scope="col">Dificuldade</th>
                                        <th scope="col">Tipo de questão</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for questao in questoes %}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">{{ questao.id }}</td>
                                        <td style="text-align: center; vertical-align: middle;">{{ forloop.counter }}
                                        </td>
                                        {% if questao.gabarito %}
                                        <td>{{ questao.gabarito }}</td>
                                        {% else %}
                                        <td>Discursiva</td>
                                        {% endif %}
                                        <td>{{ questao.conteudo }}</td>
                                        <td style="text-align: center; vertical-align: middle;">{{ questao.dificuldade }}</td>
                                        {% if questao.vinculo %}
                                        <td style="text-align: center; vertical-align: middle;">Particular</td>
                                        {% else %}
                                        <td style="text-align: center; vertical-align: middle;">Pública</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <h6 class="text-center mb-0">NÃO HÁ QUESTÕES COM ESSES FILTROS</h6>
                    <p class="text-center mb-0">Confira os filtros e tente novamente</p>
                    {% endif %}
                </div>
                <div class="col-2 mt-5 config-prova">
                    <div class="col">
                        <button class="btn btn-success form-control mb-3" onclick="location.reload()">Gerar prova
                            novamente</button>
                    </div>
                    <div class="head">
                        <hr>
                        <p class="mb-2 text-center" style="font-size: 12px !important;"><strong>Configurações da prova</strong></p>
                        <hr>
                    </div>
                    <form method="dialog" onsubmit="alterarTamanhoImagem(0)">
                        <div class="col">
                            <p class="mb-1"
                                style="color: rgb(149, 13, 13); font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                                Imagem do enunciado</p>
                            <div class="row">
                                <div class="col">
                                    <label for="num-enunciado">Número da questão</label>
                                    <input type="number" class="form-control" id="num-enunciado"
                                        placeholder="Número da questão">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- altura -->
                                    <label for="altura-enunciado">Altura</label>
                                    <input type="number" class="form-control" id="altura-enunciado" placeholder="px">
                                </div>
                                <div class="col">
                                    <!-- largura -->
                                    <label for="largura-enunciado">Largura</label>
                                    <input type="number" class="form-control" id="largura-enunciado" placeholder="px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-primary mt-3 form-control" value="Aplicar">
                                        </div>
                                        <div class="col">
                                            <!-- limpar form -->
                                            <input type="reset" class="btn btn-danger mt-3 form-control" value="Limpar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="dialog" onsubmit="alterarTamanhoImagem(1)">
                        <div class="col mt-3">
                            <p class="mb-1"
                                style="color: rgb(149, 13, 13); font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                                Imagens das alternativas</p>
                            <div class="row">
                                <div class="col">
                                    <label for="num-alternativa">Número da questão</label>
                                    <input type="number" class="form-control" id="num-alternativa"
                                        placeholder="Número da questao">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <!-- altura -->
                                    <label for="altura-alternativas">Altura</label>
                                    <input type="number" class="form-control" id="altura-alternativas" placeholder="px">
                                </div>
                                <div class="col">
                                    <!-- largura -->
                                    <label for="largura-alternativas">Largura</label>
                                    <input type="number" class="form-control" id="largura-alternativas" placeholder="px">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col">
                                            <input type="submit" class="btn btn-primary mt-3 form-control" value="Aplicar">
                                        </div>
                                        <div class="col">
                                            <!-- limpar form -->
                                            <input type="reset" class="btn btn-danger mt-3 form-control" value="Limpar">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}